body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: black;
}

.rust-logo {
  mask-image: url("/static/rust-logo-blk.svg");
  -webkit-mask-image: url("/static/rust-logo-blk.svg");
  width: 75vmin;
  height: 75vmin;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-size: 75vmin;
  -webkit-mask-size: 75vmin;
  background-color: white;
  animation-name: rotate;
  animation-duration: 25s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

h1 {
  font-size: 8vmin;
  margin-top: -7vmin;
  color: white;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}