<header>
  <div class="rust-logo logo-small background-color-logo"></div>
  <h1>Thanks for watching!</h1>
  <div class="rust-logo logo-small background-color-logo"></div>
</header>
<main>
  <section class="links">
    <h2>Links</h2>
    <div>Code: <a href="https://github.com/BrooksPatton">https://github.com/BrooksPatton</a></div>
    <div>Twitch: <a href="https://www.twitch.tv/brookzerker">https://www.twitch.tv/brookzerker</a></div>
    <div>Twitter: <a href="https://twitter.com/Brooks_Patton">https://twitter.com/Brooks_Patton</a></div>
  </section>
  <section class="schedule">
    <h2>Schedule</h2>
    <div>
      <p>Brooks Builds</p>
      <p>at unscheduled times</p>
    </div>
  </section>
</main>