<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" media="screen" href="/static/{{css}}.css" />
  <!-- <script src="main.js"></script> -->
</head>
<body>
  {{#if location.startingSoon}}
    {{~> starting-soon}}
  {{/if}}

  {{#if location.breakTime}}
    {{~> break-time}}
  {{/if}}

  {{#if location.ending}}
    {{~> ending}}
  {{/if}}
</body>
</html>