<div class="rust-tutorial">
  <div class="background-tile"></div>
  <header>
    <p class="title">Introduction to Rust</p>
    <p class="sub-title">(the language)</p>
  </header>

  <section class="brookzerker-logo">
    <div class="outline">
      <div class="letter">B</div>
      <div class="sub-letter">z</div>
    </div>
  </section>
  
  <section class="rust-logo">
    
  </section>

</div>

<script src="/static/rust_tutorial.js"></script>